<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510538891718-0pdtaf89o69mirgp1hd2ab93vs8etgnf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510538891718-0pdtaf89o69mirgp1hd2ab93vs8etgnf</string>
	<key>API_KEY</key>
	<string>AIzaSyApBKOKZiLK6W5ejuwqgBnH7E_hTqWwzyc</string>
	<key>GCM_SENDER_ID</key>
	<string>510538891718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kairong.magicbox</string>
	<key>PROJECT_ID</key>
	<string>kai-rong-apps</string>
	<key>STORAGE_BUCKET</key>
	<string>kai-rong-apps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510538891718:ios:2b07201b76683a1be972c7</string>
</dict>
</plist>