<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325905078682-g0bbrh1e4la3nglt5kq0t2urpi93juk5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325905078682-g0bbrh1e4la3nglt5kq0t2urpi93juk5</string>
	<key>API_KEY</key>
	<string>AIzaSyCo5_5uiVrn0e_ncRyMBgG_uMuuJd5s8gk</string>
	<key>GCM_SENDER_ID</key>
	<string>325905078682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kairong.magicbox</string>
	<key>PROJECT_ID</key>
	<string>d-magic-box</string>
	<key>STORAGE_BUCKET</key>
	<string>d-magic-box.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325905078682:ios:45d90c16f02c78da41c223</string>
</dict>
</plist>